mixin clean-room

    -
        const gallery = [
            {image: '/img/other/slider/image20'},
            {image: '/img/other/slider/image21'},
            {image: '/img/other/slider/image22'},
            {image: '/img/other/slider/image23'},
            {image: '/img/other/slider/image24'},
            {image: '/img/other/slider/image25'},
            {image: '/img/other/slider/img-slider--1'},
            {image: '/img/other/slider/img-slider--2'},
            {image: '/img/other/slider/img-slider--3'},
            {image: '/img/other/slider/img-slider-'},
            {image: '/img/other/slider/img-slider-01'},
            {image: '/img/other/slider/img-slider-02'},
        ]

    section.section-clean-room
        .container
            .clean-room
                .clean-room__top
                    .clean-room__left
                        .clean-room__text
                            .formated-text
                                strong Чистые помещения — это специально созданные и оборудованные помещения, которые предназначены для минимизации или исключения наличия частиц, микроорганизмов и других загрязнений в воздухе. Они используются в различных отраслях, где требуется высокий уровень чистоты, таких как фармацевтическая промышленность, электроника, пищевая промышленность и медицина. 
                                p Современные тенденции всех направлений производства двигаются по пути минимизации «человеческого фактора» как в процессе производства, так и в воздействии на конечный продукт.
                        .clean-room__gallery
                            .cr-gallery
                                .cr-gallery__main
                                    .splide(data-slider="cr-main")
                                        .splide__track
                                            .splide__list
                                                each item in gallery
                                                    .splide__slide: a(href=item.image+'.jpg' data-fslightbox="#gallery" ): +picture(item.image)
                                .cr-gallery__thumb
                                    .splide(data-slider="cr-thumb")
                                        .splide__track
                                            .splide__list
                                                each item in gallery
                                                    .splide__slide: +picture(item.image)
                        .clean-room__text
                            .formated-text
                                h3 Где используются и для чего служат
                                p: strong Кроме защиты конечного продукта, чистые помещения MAX Clean Room также используются в случае необходимости защиты человека, как от опасных производственных факторов, так и в медицине при выполнения различного рода операций. Например:
                                ul
                                    li работа с патогенными микроорганизмами;
                                    li выполнение покрасочных работ;
                                    li медицинские операции, связанные с хирургическим вмешательством и требующие стерильных условий для их проведения.
                                p Одной из основных целей чистых помещений является защита продукции от контаминации. В фармацевтической промышленности, например, чистые помещения используются для производства лекарственных препаратов, где даже небольшое количество загрязнений может повлиять на качество и безопасность продукции. В электронике, чистые помещения необходимы для производства микрочипов и других электронных компонентов, где даже мельчайшие частицы могут вызвать сбои и повреждения.
                                p Чистые помещения также играют важную роль в медицине, особенно в операционных блоках и палатах интенсивной терапии. Они обеспечивают безопасную и стерильную среду для проведения хирургических операций и ухода за пациентами с ослабленным иммунитетом.

                    .clean-room__right
                        .clean-room__form
                            .form-small
                                .form-small__title Закажите чистое помещение прямо сейчас
                                .form-small__desc И узнайте, как <strong>сэкономить до 45%</strong> на создании комплекса чистых помещений!
                                .form-small__fields
                                    form(action='#' method='POST')
                                        .form
                                            .form__item: .form__subitem: input(type="text" placeholder="Ваше имя" required)
                                            .form__item: .form__subitem: input(type="tel" placeholder="Контактный телефон" data-maska="+7(###)##-##-##" required)
                                            .form__item: .form__subitem
                                                button.btn(type="submit") Отправить заявку
                                            .form__note
                                                    +checkbox('Нажимая на кнопку «Отправить заявку», я соглашаюсь на обработку персональных данных', 'policy', 'checked')
                        .clean-room__about
                            .formated-text
                                h4 Коротко о нас
                                p: strong «MAX Clean Room» — аккредитованная инжиниринговая компания с более чем 16-летним опытом создания чистых помещений в странах Азии, Европы, СНГ. 
                                p Мы работаем с коммерческими фирмами и с государственными структурами, реализуем проекты разных уровней сложности, в том числе нестандартные.
                                p: a(href='#')
                                    +icons('#ic_cloud')
                                    span Скачать презентацию

                        .clean-room__tile
                            .tile-small
                                .tile-small__icon: +bgimage('/img/icons/05-certificate.svg')
                                .tile-small__main
                                    .tile-small__title Полная сертификация
                                    .tile-small__desc Имеем все необходимые сертификаты и лицензии для работы на рынках Европы, СНГ и Азии
                        .clean-room__tile
                            .tile-small
                                .tile-small__icon: +bgimage('/img/icons/01-production.svg')
                                .tile-small__main
                                    .tile-small__title Собственное производство
                                    .tile-small__desc Со штатом более 30 сотрудников и организационной структурой, включающей 7 направлений
                        .clean-room__tile
                            .tile-small
                                .tile-small__icon: +bgimage('/img/icons/06-location.svg')
                                .tile-small__main
                                    .tile-small__title Офисы в России и Беларуси
                                    .tile-small__desc Мы не срываем сроки, стремимся к максимальному качеству, лучшему сервису
    section.clean-room-products 
        .container
            .cr-products
                .cr-products__head
                    .cr-products__left
                        .cr-products__title Чистые помещения «под ключ»
                        .cr-products__subtitle Выбирайте подходящую категорию каталога продукции или смотрите весь каталог сразу.
                    .cr-products__right
                        a(href='#'): button.btn.btn-light Смотреть весь каталог

                .cr-products__image
                    .cr-products__dash(data-bg="/img/icons/hover-showcase-icons.svg" class="lazyload") Наведите и нажмите на подходящую категорию для перехода.
                         
                    .cr-products__picture(data-map-image)
                        include ../../../img/common/img-with-hovers.svg

                        -
                            const tooltips = [
                                {
                                    image : '/img/common/tooltip/img',
                                    title : 'Локальные чистые зоны',
                                    desc : 'Кликните для просмотра продукции',
                                    id: '15'
                                },
                                {
                                    image : '/img/common/tooltip/img-1',
                                    title : 'Фармацевтическое оборудование',
                                    desc : 'Кликните для просмотра продукции',
                                    id: '13'
                                },
                                {
                                    image : '/img/common/tooltip/img-2',
                                    title : 'Стеновые панели',
                                    desc : 'Кликните для просмотра продукции',
                                    id: '3'
                                },
                                {
                                    image : '/img/common/tooltip/img-3',
                                    title : 'Передаточные окна',
                                    desc : 'Кликните для просмотра продукции',
                                    id: '4'
                                },
                                {
                                    image : '/img/common/tooltip/img-4',
                                    title : 'Двери',
                                    desc : 'Кликните для просмотра продукции',
                                    id: '11'
                                },
                                {
                                    image : '/img/common/tooltip/img-5',
                                    title : 'Медицинская мебель',
                                    desc : 'Кликните для просмотра продукции',
                                    id: '6'
                                },
                                {
                                    image : '/img/common/tooltip/img-6',
                                    title : 'Воздушные души',
                                    desc : 'Кликните для просмотра продукции',
                                    id: '14'
                                },
                                { 
                                    image : '/img/common/tooltip/img-7',
                                    title : 'Ламинарные шкафы',
                                    desc : 'Кликните для просмотра продукции',
                                    id: '12'
                                },
                                {
                                    image : '/img/common/tooltip/img-8',
                                    title : 'Напольные покрытия',
                                    desc : 'Кликните для просмотра продукции',
                                    id: '7'
                                },
                                {
                                    image : '/img/common/tooltip/img-9',
                                    title : 'Смотровые окна',
                                    desc : 'Кликните для просмотра продукции',
                                    id: '8'
                                },
                                {
                                    image : '/img/common/tooltip/img-10',
                                    title : 'Воздухо-распределители',
                                    desc : 'Кликните для просмотра продукции',
                                    id: '5'
                                },
                                {
                                    image : '/img/common/tooltip/img-11',
                                    title : 'Потолочная система',
                                    desc : 'Кликните для просмотра продукции',
                                    id: '1'
                                },
                            ]
                    .cr-products__tooltips
                        each item in tooltips
                            .product-tooltip(data-tooltip=item.id)
                                .product-tooltip__image: +picture(item.image)
                                .product-tooltip__main
                                    .product-tooltip__title: a(href="/category-2.html")= item.title 
                                    .product-tooltip__desc= item.desc
                
                .cr-products__contact
                    .cr-contact
                        .cr-contact__main
                            .cr-contact__title Связаться с нами
                            .cr-contact__desc Наши специалисты подробнее расскажут об ассортименте и ответят на все интересующие вопросы.

                        .cr-contact__btn
                            button.btn Связаться с нами

    section.clean-room-applying
        .container
            .clean-room-applying__wrp
                .clean-room-applying__title Сферы применения
                .clean-room-applying__list
                    ul 
                        li: a(href='#') Машиностроение
                        li: a(href='#') Медицина
                        li: a(href='#') Фармацевтика
                        li: a(href='#') Микроэлектроника
                        li: a(href='#') Пищевая промышленность
                        li: a(href='#') Ветеринария
                        li: a(href='#') Биотехнологии
                        li: a(href='#') Лаборатории
                        li: a(href='#') Серверные
                        li: a(href='#') Оптика и лазеры
                        li: a(href='#') Косметическая промышленность
                        li: a(href='#') Парфюмерия
                        li: a(href='#') Космическая промышленность
                        li: a(href='#') Виварии

                .formated-text
                    p Мы предлагаем комплексные решения, подбираем специализированное оборудование элементы для решения конкретных задач. Оборудование соответствует требованиям международных стандартов и GMP. Широкий ассортимент удовлетворяет запросы предприятий различных сфер деятельности.
                    p: strong Доступны к заказу:
                    ul
                        li передаточные окна;
                        li вытяжные шкафы;
                        li воздушные души;
                        li системы очистки и распределения воздуха;
                        li ламинарные шкафы и укрытия;
                        li лабораторное и фармацевтическое оборудование;
                        li боксы биологической безопасности;
                        li контрольно-измерительные приборы и т. д.

    section.clean-room-imageblock
        .container
            .cr-imageblock
                .cr-imageblock__text
                    .formated-text
                        h2 Комплексный подход
                        p: strong Компания MAX Clean Room оказывает комплекс сопутствующих услуг для организации чистых комнат «под ключ»:
                        ul
                            li Проектирование объекта по техническому заданию заказчика с учетом требований отраслевых стандартов. Мы создадим систему, полностью отвечающую технологическим особенностям производства.
                            li Поставка ограждающих конструкций, оборудования, дополнительных элементов в оптимальные сроки. Обеспечим строгий контроль качества материалов.
                            li Строительство чистых помещений, монтаж внутреннего оснащения. Наши специалисты обладают большим профессиональным опытом, знают все особенности отделочных материалов и комплектующих. Сборка осуществляется по техническим рекомендациям производителя.
                        p Профессиональный подход обеспечит надежность объекта. На все комплектующие и на выполненные работы предоставляется гарантия.
                .cr-imageblock__img
                    +picture('/img/common/img-complex-medical-01')

    section.clean-room-services
        .container
            .cr-services
                .cr-services__title Услуги по созданию чистых помещений
                .cr-services__desc Оказываем все необходимые услуги по проектированию, созданию, монтажу и многому другому.
                .cr-services__list

                    -
                        const services = [
                            {
                                title: 'Проектирование чистых помещений',
                                desc: 'Опытные специалисты выполнят проектирование, реконструкцию и строительство в соответствии с пожеланиями заказчика и с учетом действующих норм законодательства в сфере проектирования и строительства чистых помещений.',
                                image: 'img-service',
                            },
                            {
                                title: 'Этапы изготовления конструкций для чистых помещений',
                                desc: 'Мы можем гарантировать безупречное качество на каждом этапе производства, потому что изготовление происходит на собственном оборудовании. Годы постоянного совершенствования позволили создавать конструкции, соответствующие мировым стандартам чистых помещений.  ',
                                image: 'img-service-1',
                            },
                            {
                                title: 'Монтаж чистых помещений',
                                desc: 'Строительство чистых помещений – высокотехнологичный процесс, требующий точного соблюдения действующей нормативной документации. Мы монтируем чистые комнаты с 2006 года и владеем всеми необходимыми лицензиями для работы в странах СНГ, Азии и Европы.',
                                image: 'img-service-2',
                            },
                            {
                                title: 'Валидация чистых помещений',
                                desc: 'Валидация — это процесс документального подтверждения того, что определенная процедура, процесс, оборудование, исходные материалы, деятельность или система соответствуют заданным параметрам. Данный процесс является одним из основных элементов системы обеспечения качества выпускаемой продукции.',
                                image: 'img-service-3',
                            },
                            {
                                title: 'Медицинское газоснабжение',
                                desc: 'Система медицинского газоснабжения – это комплекс инженерных сооружений, устройств и сетей, которые предназначены для производства, хранения, обработки и транспортировки медицинских газов и вакуума, необходимых для лечения.',
                                image: 'img-service-4',
                            },
                        ]

                    each item in services
                        .cr-services__item
                            .cr-services-card
                                .cr-services-card__image
                                    +picture('/img/common/services/' + item.image)
                                .cr-services-card__main
                                    .cr-services-card__title= item.title  
                                    .cr-services-card__desc= item.desc  
